<div class="container">
    <div class="col-sm-12 col-md-12 col-xs-12 martop marbot">
        <a href="/project/add" class="btn btn-default text-left">
            <i class="fa fa-plus"></i> New project
        </a>
    </div>

    <div class="padbot status">
        <div class="col-sm-12 col-md-3 col-xs-3 text-center">
            <a href="/project?page=1" class="btn bl-elem"><div class="circle all"></div> All ({{counts.all}})</a>
        </div>
        <div class="col-sm-12 col-md-3 col-xs-3 text-center">
            <a href="/project?status=active&page=1" class="btn bl-elem"><div class="circle active"></div> Active ({{counts.active}})</a>
        </div>
        <div class="col-sm-12 col-md-3 col-xs-3 text-center">
            <a href="/project?status=terminated&page=1" class="btn bl-elem"><div class="circle terminated"></div> Terminated ({{counts.terminated}})</a>
        </div>
        <div class="col-sm-12 col-md-3 col-xs-3 text-center">
            <a href="/project?status=archive&page=1" class="btn bl-elem"><div class="circle archive"></div> Archive ({{counts.archive}})</a>
        </div>
    </div>

{{#each proj}}
    <a href="/project?id={{id}}">
        <div class="col-sm-12 col-md-6 col-xs6 text-center pad-top h33">
            <div class="project-border">
                <div class="h5"><b>{{title}}</b></div>
                <p><b>Type: </b>{{type}}</p>
                <p><b>Status: </b>{{status}}</p>
            </div>
        </div>
    </a>
{{/each}}

<div class="col-sm-12 col-md-12 col-xs-12 text-center">
    <ul class="pagination">
    {{#each pagination}} 
        <li class="{{active}}">
            <a href="project?page={{item}}">
                {{item}}
            </a>
        </li>
    {{/each}}
    </ul>
</div>
</div>